body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    color: whitesmoke;
}

.container {
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    border-radius: 5px double whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    border-radius: 5px double whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
}

.category {
    text-align: center;
    flex: 1;
    padding: 10px;
}

#biodata {
    text-align: center;
}

#biodata img {
    max-width: 350px;
    border-radius: 50%;
}

fieldset {
    border: 5px double #ccc;
    padding: 10px;
    margin: 10px;
    text-align: left;
    min-width: fit-content;
    flex: 1;
}

.logo {
    max-width: 20px;
    max-height: 20px;
    border-radius: 10px;
}

td {
    width: 200px;
}

a {
    color: white;
    text-decoration: none;
    vertical-align: top;
}

a:hover {
    color: cyan;
}

.pic {
    width: 50px;
    height: 40px;
    border-radius: 10px;
}
